doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/compenents-rounded.css')
    link(rel='stylesheet', href='/stylesheets/plugins.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
    link(rel='stylesheet', href='/stylesheets/light.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')
    link(rel='stylesheet', href='/stylesheets/task.css')
    link(rel='stylesheet', href='/stylesheets/dataTables.css')
  body(style="background:#e9ecf3").page-header-fixed.page-sidebar-closed-hide-logo.page-sidebar-closed-hide-logo
    .page-header.navbar.navbar-fixed-top
      .page-header-inner
      .page-sidebar.navbar-collapse.collapse
          ul.page-sidebar-menu(style="margin-bottom: 0px;margin-top: 0px;")
            li
              a(href='index.html')
                i.fa.fa-home
                h5 首页
        .page-top
          .top-menu
            ul.nav.navbar-nav.pull-right
              li.dropdown.dropdown-user.dropdown-dark
                a.dropdown-toggle(href='javascript:;', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
                  span.username.username-hide-on-mobile
                    | #{user}
                  img.img-circle(src='../images/avatar2.jpg')
                
              li.dropdown.dropdown-extended.quick-sidebar-toggler
                a(href="/logout").fa.fa-arrow-left
                  
    .page-sidebar-wrapper(style="margin-left:20px;margin-top:80px")
      // DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing
      // DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed
      .page-sidebar.navbar-collapse.collapse
        // BEGIN SIDEBAR MENU
        // DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders)
        // DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode
        // DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode
        // DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing
        // DOC: Set data-keep-expand="true" to keep the submenues expanded
        // DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed
        ul.page-sidebar-menu.text-center
          li.start.active.menuselect1
            a(href='#')
              span.title 我的健身
              i.fa.fa-child
          li.menuselect2
            a(href='#')
              span.title 健身日记
              i.fa.fa-archive
          li.menuselect3
            a(href='#')
              span.title 我的资料
              i.fa.fa-cubes
          li.menuselect4
            a(href='#')
              span.title 健身计划管理
              i.fa.fa-navicon

    .page-content-wrapper
      .page-content.menu1
        // BEGIN PAGE HEAD
        .page-head
          // BEGIN PAGE TITLE
          .page-title
            h1
              | 我的健身 
              small 健身状况 & 今日心情
        .row
          .col-md-5.col-sm-12(style="margin-left:10px")
            // BEGIN PORTLET
            .portlet.light.tasks-widget
              .portlet-title
                .caption.caption-md
                  i.icon-bar-chart.theme-font-color.hide
                  span.caption-subject.theme-font-color.bold.uppercase 今日任务列表
              .portlet-body
                .task-content
                  .slimScrollDiv(style='position: relative; overflow: hidden; width: auto; height: 282px;')
                    .scroller(style='height: 282px; overflow: hidden; width: auto;', data-always-visible='1', data-rail-visible1='0', data-handle-color='#D7DCE2', data-initialized='1')
                      // START TASK LIST
                      ul.task-list
                        each todaytrain in todaytrains
                          li
                            .task-checkbox
                              .checker
                                span.checked
                                  input.liChild(type='checkbox', value='')
                            .task-title
                              span.task-title-sp
                                | #{todaytrain.name} #{todaytrain.level}
                              span.label.label-sm.label-danger.task-label 未完成
                              span.task-bell
                                i.fa.fa-bell-o
                          
                      // END START TASK LIST
                    .slimScrollBar(style='width: 7px; position: absolute; top: 1px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 180.736px; background: rgb(215, 220, 226);')
                    .slimScrollRail(style='width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(234, 234, 234);')
                .task-footer
                  .btn-arrow-link.pull-right
                    a(href='javascript:;') 提交训练结果
            // END PORTLET
          .col-md-6.col-sm-12(style="margin-left:10px")
            .portlet.box.grey-cascade
              .portlet-title
                .caption 您所拥有的训练计划
            each myalltrain in myalltrains
              .portlet.box.green
                .portlet-title
                  .caption
                    i.fa.fa-gift
                    | #{myalltrain.name}
                  .tools
                    a.expand(href='javascript:;', data-original-title='', title='')
                .portlet-body.display-hide(style='display: none;')
                  strong.btn.btn-success.btn-sm
                    a(href="show/#{myalltrain.findid}" target="_blank" style="color:white") 查看更多
                  p
                    | #{myalltrain.desc}
      .page-content.menu2.hide
        // BEGIN PAGE HEAD
        .page-head
          // BEGIN PAGE TITLE
          .page-title
            h1
              | 健身日记
              small 健身心得 & 分享成果
        .row
        
        
      .page-content.menu3.hide
        // BEGIN PAGE HEAD
        .page-head
          // BEGIN PAGE TITLE
          .page-title
            h1
              | 我的资料
              small 个人信息 & 修改
        .row

      .page-content.menu4.hide
        // BEGIN PAGE HEAD
        .page-head
          // BEGIN PAGE TITLE
          .page-title
            h1
              | 健身计划管理
              small 新增计划 & 修改计划
        .row
          .col-md-12
            // BEGIN EXAMPLE TABLE PORTLET
            .portlet.box.blue
              .portlet-title
                .caption
                  i.fa.fa-edit
                  | 训练计划管理
              .portlet-body(style='display: block;')
                .table-toolbar
                  .row
                    .col-md-10
                       label.label.label-primary(style="margin-left:5px") Week：
                       select.form-control.input-small.input-inline(style="margin-left:5px").user_trainweek
                         option(value="周一") 周一
                         option(value="周二") 周二
                         option(value="周三") 周三
                         option(value="周四") 周四
                         option(value="周五") 周五
                         option(value="周六") 周六
                         option(value="周日") 周日
                       label.label.label-primary(style="margin-left:5px") 训练内容：
                       select.form-control.input-small.input-inline(style="margin-left:5px").user_traintitle
                         each train in trains
                           option(value="#{train.name}") #{train.name}
                       label.label.label-primary(style="margin-left:5px") 训练等级：
                       select.form-control.input-small.input-inline(style="margin-left:5px").user_trainlevel
                         option(value="chuji") 一组,每组10~15个
                         option(value="zhongji") 二组,每组20~25个
                         option(value="gaoji") 三组,每组40~50个
                      .btn-group
                        button#sample_editable_1_new.btn.green.addusertrain
                          | Add New 
                          i.fa.fa-plus
                    .col-md-2
                #sample_editable_1_wrapper.dataTables_wrapper.no-footer
                  .table-scrollable
                    table#sample_editable_1.table.table-striped.table-hover.table-bordered.dataTable.no-footer(role='grid', aria-describedby='sample_editable_1_info', style='width: 871px;')
                      thead
                        tr(role='row')
                          th Week
                          th 内容
                          th 进阶标准
                          th 目前等级
                          th 删除
                      tbody.appendtr
                        each mytrain in mytrains
                          tr 
                            td #{mytrain.week}
                            td #{mytrain.name}
                            td #{mytrain.jinjie}
                            td #{mytrain.level}
                            th.btn.btn-danger
                              a(style="color:white" href="/deletemytrain/#{mytrain.week}/#{mytrain.name}") 删除
    script(src='javascripts/jquery.min.js')
    script(src='javascripts/bootstrap.min.js')
    script(src='javascripts/task.js')
    script(src='javascripts/jquery.slimscroll.min.js')
    script(src='javascripts/metronic.js')
    script(src='javascripts/menuselect.js')
    script(src='javascripts/addusertrain.js')
    script(type='text/javascript').
      $(function(){$('.slimScrollDiv').slimScroll({height: '220px'});Tasks.initDashboardWidget();Metronic.init();MenuSelect.initSelect();});
